<div id="fs-footer">
    <div id="fs-footer-blocks">
        <div class="fs-footer-block" id="newsletter">
            <div class="fs-footer-block-title">Newsletter</div>
            <p>Abonnez vous à la newsletter de Funstation pour ne rien rater !</p>
            <form id="fs-newsletter" action="#" method="POST">
                <input type="email" required id="fs-newsletter-email" name="newsletter-email"
                    placeholder="Votre adresse email">
                <button type="submit"><div class="fs-icon">send</div></button>
            </form>
        </div>
        <div class="fs-footer-block" id="contact">
            <div class="fs-footer-block-title">Nous contacter</div>
            <div class="fs-footer-list">
                <a href="/contact" class="fs-footer-list-line">
                    <div class="fs-icon">mail_outline</div>
                    <b>contact@funstation.fr</b>
                </a>
                <a href="tel:0 970 191 223" class="fs-footer-list-line">
                    <div class="fs-icon">phone</div>
                    <b>0 970 191 223</b>
                </a>
            </div>
        </div>
        <div class="fs-footer-block" id="socials">
            <div class="fs-footer-block-title">Réseaux sociaux</div>
            <div class="fs-footer-list">
                <a href="https://www.facebook.com/funstationoff/" target="_blank" class="fs-footer-list-line">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://twitter.com/FunStation_Off" target="_blank" class="fs-footer-list-line">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/funstationoff/?hl=fr" target="_blank"
                    class="fs-footer-list-line">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.youtube.com/channel/UCuZuXxcDq1aaQ1S81Klx9vQ/" target="_blank"
                    class="fs-footer-list-line">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</div>