<div id="fs-fixed-menu">
    <a href="#" id="fs-fixed-menu-logo"></a>
    <div id="fs-fixed-menu-links">
        <a href="#fs-home" class="fs-fixed-menu-link" id="home">Accueil</a>
        <a href="#fs-planning" class="fs-fixed-menu-link" id="planning">Programme</a>
        <a href="#fs-news" class="fs-fixed-menu-link" id="news">Actu</a>
        <a href="#fs-team" class="fs-fixed-menu-link" id="team">L'équipe</a>
        <a href="#fs-dedi" class="fs-fixed-menu-link" id="dedi">Poste ta Dédi</a>
        <a href="/contact" class="fs-fixed-menu-link" id="contact">Nous contacter</a>
    </div>
    <div id="fs-fixed-menu-socials">
        <a href="https://www.facebook.com/funstationoff/" target="_blank" class="fs-fixed-menu-social-link"
            id="facebook"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/FunStation_Off" target="_blank" class="fs-fixed-menu-social-link" id="twitter"><i
                class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/funstationoff/?hl=fr" target="_blank" class="fs-fixed-menu-social-link"
            id="instagram"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCuZuXxcDq1aaQ1S81Klx9vQ/" target="_blank"
            class="fs-fixed-menu-social-link" id="youtube"><i class="fab fa-youtube"></i></a>
    </div>
</div>