.fs-section#contact #fs-contact-form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fs-section#contact #fs-contact-form .fs-input-group {
    margin: 30px 0;
    width: 100%;
}
.fs-section#contact #fs-contact-form .fs-input-group.textarea {
    width: 200%;
}

.fs-section#contact #fs-contact-form .fs-input-group label {
    display: table;
    padding: 10px 15px;
    background: #0ab5ff;
    color: #FFF;
    font: 13pt "Oswald";
    transform: skew(-5deg);
    margin-left: 2px;
}
.fs-section#contact #fs-contact-form input,
.fs-section#contact #fs-contact-form textarea {
    width: 100%;
    border: 3px solid #0ab5ff;
    background: #FFF;
    color: #000;
    padding: 10px;
    margin: 0;
    font-family: "Arial";
}

.fs-section#contact #fs-contact-form textarea {
    resize: none;
    height: 420px;
}
.fs-section#contact #fs-contact-form input[type="submit"] {
    width: 60%;
    font: 15pt "Roboto";
    color: #0ab5ff;
    background: #FFF;
    border: 3px solid #0ab5ff;
    cursor: pointer;
    transition: .1s ease, 0s transform;
}

.fs-section#contact #fs-contact-form input[type="submit"]:hover {
    color: #FFF;
    background: #0ab5ff;
}

.fs-section#contact #fs-contact-form input[type="submit"]:active {
    transform: translateY(2px);
}

@media screen and (max-width: 610px) {
    .fs-section#contact #fs-contact-form .fs-input-group.textarea {
        width: 100%;
    }
    .fs-section#contact #fs-contact-form .fs-input-group.textarea textarea {
        height: 220px;
    }
}